body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
p{
    color: dimgray;
}
.text-highlight{
    color: #624bcd;
}
.half-weight{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.half-weight img{
    width: 100%;
    padding: none;
    margin: none;
}
.top-backgroung{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(91, 71, 179) 100%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: 700px;
}
.secend-background{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 300px;
}

.single-box{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 100%;
    width: 80%;
}
.last-section{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#box-gredient{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-box{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue,cyan );
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.display-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 30px;
}
